# Configurações do Supabase
# Copie este arquivo para .env dentro de dembase_flet/ ou na raiz:
SUPABASE_URL=https://ieljnrkxxopqzpnlodfk.supabase.co
SUPABASE_KEY=sb_publishable_ZWh9MxhzdThaOIfuiut6rw_3p4A9rhf
